@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInWord {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.word-fade-in {
  animation: fadeInWord 0.8s ease-in;
}

